@keyframes bnt-start {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.bnt-box {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale(1);
    cursor: pointer;

    &:hover {
        transform: scale(0.95);
    }
}